:root {
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --transition-speed: 600ms;
    --blue0: #2E2E36;
    --blue1: #292933;
    --blue2: #23232E;
    --blue3: #20202B;
    --blue4: #1A1A23;
    --blue5: #171721;
}

@media (prefers-color-scheme: dark) {
    :root {
        --text: #ececec;
        --bggradient: linear-gradient(to right, var(--blue1), var(--blue3));
        --bg: #141418;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --bg: white;
        --text: black; 
    }
}

body {
    color: var(--text);
    background: var(--bg);
    margin: 0;
    padding: 0;
    transition: background 500ms ease-in-out, color 1000ms ease-in-out;
}

body::-webkit-scrollbar {
    width: 0.35rem;
}

body::-webkit-scrollbar-track {
    background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
    background: #6649b8;
}

.fire {
    margin-top: 1em;
    margin-bottom: 0em;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 16em;
    height: 16em;
    padding-left: 3em;
}

@keyframes color-rotate {
    from {
        filter: hue-rotate(0deg);
    }
    to {
        filter: hue-rotate(360deg);
    }
}

.fire:hover {
    animation: color-rotate 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

h1 {
    font-weight: bold;
    font-size: 4em;
    text-align: center;
    margin-top: 0em;
}

main {
    font-size: 18px;
    letter-spacing: 0.05ch;
    margin-left: 5rem;
    padding: 1rem;
}

.navbar {
    width: 5rem;
    height: 100vh;
    position: fixed;
    background: var(--bg-primary);
    transition: width 250ms ease;
    overflow: auto;
    border-radius: 0px 15px 15px 0px;
}

.navbar::-webkit-scrollbar {
    width: 0.2rem;
    height: 0;
}

.navbar::-webkit-scrollbar-track {
    background: white;
}

.navbar::-webkit-scrollbar-thumb {
    background: #b6b6b6;
}

.navbar:hover::-webkit-scrollbar-thumb {
    background: #df49a6;
}

.logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--text-secondary);
    background: var(--bg-secondary);
    font-size: 1.5rem;
    letter-spacing: 0.3ch;
    width: 100%;
}

.logo svg {
    transform: rotate(0deg);
    transition: 400ms;
}

.logo-text {
    display: inline;
    position: absolute;
    left: -999px;
    transition: var(--transition-speed);
}

.navbar:hover .logo svg {
    transform: rotate(-180deg);
}

.navbar-nav {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.nav-item {
    width: 100%;
}

.nav-item:last-child {
    margin-top: auto;
}

.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
}

.nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
    color: var(--text-secondary);
}

.link-text {
    display: none;
    margin-left: 1rem;
}

.nav-link svg {
    width: 2rem;
    min-width: 2rem;
    margin: 0 1.5rem;
}

.fa-primary {
    color: #ff7eee;
}

.fa-secondary {
    color: #df49a6;
}

.fa-primary, 
.fa-secondary {
    transition: var(--transition-speed);
}

.theme-icon {
    display: none;
}

.dark #darkIcon {
    display: block;
}

.light #lightIcon {
    display: block;
}
/*fix dark theme colors, see if gradient will be in use*/
.dark {
    --text: #ececec;
    --bggradient: linear-gradient(to right, var(--blue1), var(--blue3));
    --bg: #141418;
  }
  
.light {
    --bg: white;
    --text: black;
  }
  

@media only screen and (max-width: 767px) {
    .navbar {
        bottom: 0;
        width: 100%;
        height: 5rem;
        border-radius: 35px 35px 0 0;
    }

    .logo {
        display: none;
    }

    .navbar-nav {
        flex-direction: row;
    }

    .nav-link {
        justify-content: center;
    }

    .fire {
        width: 12rem;
        height: 12rem;
        padding-left: 0;
    }
    
    h1 {
        font-size: 2.5em;
    }

    main {
        margin: 0;
        padding-bottom: 6rem;
    }

    .navbar::-webkit-scrollbar {
        height: 0.2rem;
        width: 0;
    }
}

@media only screen and (min-width: 768px) {
    .navbar {
        top: 0;
        width: 5rem;
        height: 100vh;
    }

    .navbar:hover {
        width: 16rem;
    }

    .navbar:hover .link-text {
        display: inline;
        transition: opacity var(--transition-speed);
    }
    
    .navbar:hover .logo svg {
        margin-left: 11rem;
    }

    .navbar:hover .logo-text {
        left: 0px;
    }
}